@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000324}}
.l-branding.site-branding {
  width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000327}}
  .l-branding.site-branding .site-branding__logo {
    margin-right: .2rem;
    width: 8rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000331}}
  .l-branding.site-branding .site-branding__name {
    color: #FFFFFF;
    top: -3.0rem;
    position: absolute;
    margin-left: 8.1rem;
    width: 25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000338}}
    .l-branding.site-branding .site-branding__name #nombre-sitio {
      font-size: 3.1rem;
      color: black;
      position: absolute;
      top: 1.3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000343}}
      .l-branding.site-branding .site-branding__name #nombre-sitio:hover {
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000348}}
    .l-branding.site-branding .site-branding__name #universidad {
      position: relative;
      top: 7rem;
      font-size: 2.43rem;
      text-transform: none;
      color: gray; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000354}}
      .l-branding.site-branding .site-branding__name #universidad:hover {
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/Documents\/web_PC\/sites\/omega\.cea\/themes\/daemon\/sass\/daemon\.styles\.scss}line{font-family:\0000360}}
  .l-branding.site-branding h2.site-branding__slogan {
    width: 36rem;
    top: 4rem;
    position: relative;
    font-size: 1.55rem;
    text-transform: none;
    margin-top: 10px; }
