// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.site-branding__logo {
    margin-right: .2em;
    width: 100px;
}

.site-branding__name {
    color: #FFFFFF;
    display: inline-flex;
    top: -0.8rem;
    position: absolute;
    text-decoration: none;
    #nombre-sitio{
    	   	font-size :2rem;
    	   	color: black;
   &:hover{
    	color: white;
    }
    }

    #universidad{
    		position: absolute;
    		top: 4.2rem;
    	   	font-size :1.6rem;
    	   	text-transform: none;
    }
}

h2.site-branding__slogan {
    top: 3.5rem;
    position: absolute;
    display: inline-flex;
    font-size:1rem;
   	text-transform: none;
   	margin-top: 10px;
}

.l-branding {
	    width: 60%;
}