// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-branding.site-branding {
    width: 60%;

	.site-branding__logo {
	    margin-right: .2rem;
	    width: 8rem;
	}
	.site-branding__name {
    	color: #FFFFFF;
    	top: -3.0rem;
  		position: absolute;
  		margin-left: 8.1rem;
    	width: 25rem;

    #nombre-sitio{
    	   	font-size :3.1rem;
    	   	color: black;
    	   	position:absolute;
    	   	top:1.3rem;
   		&:hover{
    		color: white;
    	}
    }

    #universidad{
    		position: relative;
    		top: 7rem;
    	   	font-size :2.43rem;
    	   	text-transform: none;
    	   	color: gray;
    	   	&:hover{
    	   		color: white;
    	   	}
    }
}

	h2.site-branding__slogan {
		width: 36rem;
    	top: 4rem;
    	position: relative ;
    	font-size:1.55rem;
   		text-transform: none;
   		margin-top: 10px;
	}
}


